@charset "UTF-8";
/* CSS Document */
h1 {
       
    }
  
    table {
        margin: 5px;
        width: 290px;
		border-collapse: collapse;
    }
  
    th {
        padding: 3px;
		border-bottom: 1px solid #ddd;
    }
  
    td {
        padding-left: 8px;
        padding-right: 8px;
        border: 0px solid #990000;
        background-color: #ffffff;
		border-bottom: 1px solid #ddd;
    }

    #trHeader {
        text-decoration: underline;
        color: #990000;
    }
