
/*body.print .container {max-width: 650px;}*/

/*@font-face {
    font-family: "Optimo-Plain", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: local("Gotham Rounded Book")
}*/

body {
    font-size:11px;
}


@page big_table {
    prince-rotate-body: landscape;
    prince-shrink-to-fit: auto;
}

table.wide_table {
    page: big_table;
}


.nav ul li a {border-top:0px; background-color:transparent; }
#navig a[href] {background-color: transparent; font-weight: bold; font-size: 12px;  }

.sectionHead {
  padding-left: 10px;
  font-weight: bold;
  padding-top: 5px;
}

.sectionHead2 {
  padding-left: 12px;
}

#navig a[href]::after { content: leader(".") target-counter(attr(href), page); }

#navig ul.indent2 { padding-left:4px;}
#navig li.indent3 { padding-left:14px;}


a[href]::after {
   /* " (page " target-counter(attr(href), page) ")" */
   content: "";
}

a[href^="http:"]::after, a[href^="https:"]::after {
    content: "";
}

a[href] {
    color: #373BB1 !important;
}
a[href*="mailto"]::after, a[data-toggle="tooltip"]::after, a[href].noCrossRef::after {
    content: "";
}
a[href]::after {
        content: " [See page " target-counter(attr(href), page) "]"
}


@page {
    margin: 60pt 90pt 60pt 90pt;
    font-family: "Optimo-Plain", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style:none;
    color: gray;

}

.printTitle {
    line-height:30pt;
    font-size:27pt;
    font-weight: bold;
    letter-spacing: -.5px;
    margin-bottom:25px;
}

.printSubtitle {
    font-size: 19pt;
    color: #999999 !important;
    font-family: "Grotesque MT Light";
    line-height: 22pt;
    letter-spacing: -.5px;
    margin-bottom:20px;
}
.printTitleArea hr {
    color: #999999 !important;
    height: 2px;
    width: 100%;
}

.printTitleImage {
    max-width:300px;
}


.printTitleImage {
    max-width: 250px;
}

#navig {
    /*page-break-before: always;*/
}

.copyrightBoilerplate {
    page-break-before:always;
    font-size:14px;
}

.lastGeneratedDate {
    font-style: italic;
    font-size:14px;
    color: #999999;
}

.alert a {
    text-decoration: none !important;
}


body.title { page: title }

@page title {
    @top-left {
        content: " ";
    }
    @top-right {
        content: " "
    }
    @bottom-right {
        content: " ";
    }
    @bottom-left {
        content: " ";
    }
}

body.frontmatter { page: frontmatter }
body.frontmatter {counter-reset: page 1}


@page frontmatter {
    @top-left {
        content: prince-script(guideName);
    }
    /*@top-right {
        content: prince-script(datestamp);
    }*/
    @top-right {
        content: " "
    }
    @bottom-right {
        content: counter(page, lower-roman);
    }
    /*@bottom-left {
        content: "support@thoughtspot.com";   }*/
    @bottom-left {
        content: " "
    }
}

body.first_page {counter-reset: page 1}

h1 { string-set: doctitle content() }

@page {
    @top-left {
        content: string(doctitle);
        font-size: 11px;
        font-style: italic;
    }
    /*@top-right {
        content: prince-script(datestamp);
        font-size: 11px;
    }*/

    @bottom-right {
        content: "Page " counter(page);
        font-size: 11px;
    }
    @bottom-left {
        content: prince-script(guideName);
        font-size: 11px;
    }
}
.alert {
    background-color: #fafafa !important;
    border-color: #dedede !important;
    color: black;
}

pre {
    background-color: #fafafa;
}
