<p>You can create stickers to make it easier for people to find data sources and pinboards. Stickers are global in scope. This means that everyone can see the stickers and use them to tag objects. They can also filter lists of objects by sticker. Stickers are often used to designate subject areas, such as sales, HR, and finance, but you can use them any way you like.</p>

<p>Keep in mind these permissions when working with stickers:</p>

<ul>
 <li>Only administrators can create stickers.</li>
 <li>Anyone can apply a sticker.</li>
 <li>Anyone can filter by a sticker.</li>
</ul>

<h2 id="create-a-sticker">Create a sticker</h2>

<p>Only administrator users can create stickers. Anyone can apply the stickers you create, or use them as filters when selecting from a list of sources or pinboards.</p>

<p>To create a sticker:</p>

<ol>
 <li>Navigate to the <strong>Manage Data</strong> or <strong>Pinboards</strong> screen using the icons in the top navigation bar.</li>
 <li>
   <p>Choose the currently selected sticker, scroll to the bottom of the list, and click <strong>+ Add</strong>.</p>

   <p><img src="{{"/images/add_sticker.png" | prepend: site.baseurl }}" alt="" title="Add a sticker" /></p>
 </li>
 <li>Type the name for the new sticker.</li>
 <li>
   <p>You can change the name of a sticker by clicking the edit icon next to its name.</p>

   <p><img src="{{"/images/edit_sticker.png" | prepend: site.baseurl }}" alt="" title="Edit a sticker" /></p>
 </li>
 <li>
   <p>You can change the color of a sticker by clicking the color circle next to its name.</p>

   <p><img src="{{"/images/edit_color.png" | prepend: site.baseurl }}" alt="" title="Edit a sticker color" /></p>
 </li>
</ol>

<h2 id="apply-a-sticker">Apply a sticker</h2>

<p>Only administrators create stickers, but anyone with edit privileges can tag an object with a sticker.</p>

<p>To tag an object with a sticker:</p>

<ol>
 <li>
   <p>From the top menu, choose Answers, Pinboards, or Data.</p>
 </li>
 <li>Find the item(s) you want to tag in the list, and check the box next to its name.</li>
 <li>
   <p>Click the apply sticker icon and choose one from the list. You can apply as many stickers as you like to an object.</p>

   <p><img src="{{"/images/apply_sticker.png" | prepend: site.baseurl }}" alt="" title="Choose a sticker to apply" /></p>
 </li>
</ol>

<h2 id="filter-by-stickers">Filter by stickers</h2>

<p>Whenever you are selecting objects from a list, you can filter by sticker to find what you’re looking for. Anyone can use stickers to filter lists of pinboards or data sources. You can also filter by sticker when selecting data sources.</p>

<p>To filter by sticker:</p>

<ol>
 <li>
   <p>From the top menu, choose <strong>Answers</strong>, <strong>Pinboards</strong>, or <strong>Data</strong>.</p>
 </li>
 <li>
   <p>Click <strong>Select sticker</strong>, and select the name of the sticker you want to filter by.</p>

   <p><img src="{{"/images/filter_by_sticker.png" | prepend: site.baseurl }}" alt="" title="Filter by a sticker" /></p>
 </li>
</ol>
