<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body><script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
 function ChangeHeightF1()
 {
    $("#inneriframe").css({"height":"350px;"});
    alert('The height was changed!');

 }
</script>
<div id="outerdiv">
    <iframe src="http://www.riotheatre.com/renter-media-form" id="inneriframe" scrolling="no" target="_parent"></iframe><button type="button" onclick="parent.ChangeHeightF1();">Click me to change Height!</button>
</div>
</body>
</html>
