<footer>
   <div class="row">
     <div id="flip">Click to slide panel down</div>
     <div id="panel"><iframe frameborder="yes" border="0" marginwidth="0" marginheight="0" width="800" src="http://www.riotheatre.com/renter-media-form" id="inneriframe" scrolling="no" target="_parent"></iframe></div>
        Generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
         &copy;{{ site.time | date: " 2015, %Y"  }} {{site.company_name}}.  All rights reserved. <br />
         <!-- {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %}  -->
         <p><img style="width:100px;" src="{{ "images/company_logo.png" | absolute_url }}" alt="Company logo"/></p>
      </div>
</footer>
