<script src="{{ "js/expand_form.js" | absolute_url }}"></script>
<style type = "text/css"/>
    #inneriframe {
         height: 0px;
		 width: 700px;
        overflow: hidden;
    }
</style>
<footer>
   <div class="row">
      <div class="col-lg-12 footer" id="outerdiv"><a href="#" id="more" style="float: right">Give us feedback!</a><br>
    <iframe frameborder="yes" border="0" marginwidth="0" marginheight="0" src="http://www.riotheatre.com/renter-media-form" id="inneriframe" scrolling="no" target="_parent"></iframe></div>
      <div class="col-lg-12 footer">
        Generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
         &copy;{{ site.time | date: " 2015, %Y"  }} {{site.company_name}}.  All rights reserved. <br />
         <!-- {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %}  -->
         <p><img style="width:100px;" src="{{ "images/company_logo.png" | absolute_url }}" alt="Company logo"/></p>
      </div>
   </div>
</footer>
