{% assign sidebar = site.data.sidebars[page.sidebar].entries %}

<ul id="mysidebar" class="nav">
  <li class="bookTitle">{{sidebar[0].product}}</li>
  <li class="bookSubtitle">Release: {{sidebar[0].docversion}}</li>

    <!-- Add link to same page in the latest version if you're on an older version of docs.
       -->

       {% assign url_chunks = page.url | split: "/" %}

    <!-- KEEP FOR TESTING
         <li class="small-sidebar-link">Current page URL is {{ page.url }}.</li>
         <li class="small-sidebar-link">Current version is {{ site.current_version }}.</li>
         <li class="small-sidebar-link">absolute_url is {{ absolute_url }}.</li>
         <li class="small-sidebar-link">url_chunks[0] is {{ url_chunks[0] }}.</li>
                  <li class="small-sidebar-link">url_chunks[1] is {{ url_chunks[1] }}.</li>
           <li class="small-sidebar-link">url_chunks[2] is {{ url_chunks[2] }}.</li>
                    <li class="small-sidebar-link">url_chunks[3] is {{ url_chunks[3] }}.</li>
 -->

       {% assign newURL = "/" | append:site.current_version %}

       {% if url_chunks[1] %}
       {% assign newURL = newURL | append:"/" | append:url_chunks[1] %}
       {% endif %}

       {% if url_chunks[2] %}
       {% assign newURL = newURL | append:"/" | append:url_chunks[2] %}
       {% endif %}

       {% if url_chunks[3] %}
       {% assign newURL = newURL | append:"/" | append:url_chunks[3] %}
       {% endif %}

       {% if url_chunks[4] %}
       {% assign newURL = newURL | append:"/" | append:url_chunks[4] %}
       {% endif %}

       {% if url_chunks[5] %}
       {% assign newURL = newURL | append:"/" | append:url_chunks[5] %}
       {% endif %}

       {% if sidebar[0].version < site.current_version %}
      <li class="small-sidebar-version-nav"><a href="{{ newURL }}">Switch to version {{ site.current_version }} (latest)</a></li>
      {% else %}
          <li class="small-sidebar-version-nav">&nbsp;&nbsp;&nbsp;This is the latest version.</li>
      {% endif %}

         <!-- KEEP FOR TESTING
<li class="small-sidebar-link">newURL is {{ newURL }}</li>
  <li class="small-sidebar-link">New URL will be {{ newURL | absolute_url }}</li>
 -->

    <!-- End add link to latest version
       -->

  {% for entry in sidebar %}
    {% for section in entry.sections %}
      {% if section.output contains "web" %}
       <li >
         <a href="#">{{ section.sectiontitle }}</a>
       <ul class="section">
            {% for sectionitem in section.sectionitems %}
              {% if sectionitem.title and sectionitem.output contains "web" %}
                {% if sectionitem.external_url %}
                 <li ><a href="{{sectionitem.external_url}}" target="_blank">{{sectionitem.title}}</a></li>
                {% elsif page.url == sectionitem.url %}
                  <li class="active"><a href="{{sectionitem.url | relative_url }}">{{sectionitem.title}}</a></li>
                {% else %}
                  <li><a href="{{sectionitem.url | relative_url }}">{{sectionitem.title}}</a></li>
                {% endif %}
              {% elsif sectionitem.levelTwoTitle and sectionitem.output contains "web" %}
              <li class="levelTwo">
                  <a href="#">{{ sectionitem.levelTwoTitle }}</a>
                  <ul>
                {% for level2item in sectionitem.levelTwoItems %}
                  {% if level2item.title and level2item.output contains "web" %}
                      {% if level2item.external_url %}
                          <li><a href="{{level2item.external_url}}" target="_blank">{{level2item.title}}</a></li>
                      {% elsif page.url == level2item.url %}
                          <li class="active"><a href="{{level2item.url | relative_url }}">{{level2item.title}}</a></li>
                      {% else %}
                          <li><a href="{{level2item.url | relative_url }}">{{level2item.title}}</a></li>
                      {% endif %}
                   {% elsif level2item.levelThreeTitle and level2item.output contains "web" %}
                   <li class="levelThree">
                       <a href="#">{{ level2item.levelThreeTitle }}</a>
                       <ul>
                        {% for level3item in level2item.levelThreeItems %}
                          {% if level3item.title and level3item.output contains "web" %}
                              {% if level3item.external_url %}
                                  <li><a href="{{level3item.external_url}}" target="_blank">{{level3item.title}}</a></li>
                              {% elsif page.url == level3item.url %}
                                  <li class="active"><a href="{{level3item.url | relative_url }}">{{level3item.title}}</a></li>
                              {% else %}
                                  <li><a href="{{level3item.url | relative_url }}">{{level3item.title}}</a></li>
                              {% endif %}
                            {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                   {% endif %}
                {% endfor %}
                    </ul>
                  </li>
              {% endif %}
            {% endfor %}
        </ul>
     </li>
     {% endif %}
    {% endfor %}
  </ul>
</li>
  {% endfor %}
      <!-- if you aren't using the accordion, uncomment this block:
         <p class="external">
             <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
         </p>
         -->
</ul>


<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
