<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
<!-- OLD HOME NAV removed in favor of logo image
           <a class="fa fa-home fa-lg navbar-brand" href="{{ "/index.html" | prepend: site.baseurl }}">&nbsp;<span class="projectTitle"> {{site.topnav_title}}</span></a>
-->

<div class="logo">
{% include image.html file="company_logo_white-draft.svg" url="/" padding="10" width="400px" alt="ThoughtSpot Documentation home" %}
<!-- {% include image.html file="company_logo_white-draft.svg" url="/" width="100%" padding="10" width="158" alt="ThoughtSpot Documentation home" %} -->
</div>
<!-- Don't use max-width since it doesn't render in firefox browser -->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- toggle sidebar button -->
                <!-- <li><a id="tg-sb-link" href="#"><i id="tg-sb-icon" class="fa fa-toggle-on"></i> Nav</a></li> -->
                <!-- entries without drop-downs appear here -->

                {% assign topnav = site.data[page.topnav] %}
                {% assign topnav_dropdowns = site.data[page.topnav].topnav_dropdowns %}

                {% for entry in topnav.topnav %}
                {% for item in entry.items %}
                {% if item.external_url %}
                <li><a href="{{item.external_url}}" target="_blank">{{item.title}}</a></li>
                {% elsif page.url contains item.url %}
                <li class="active"><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% else %}
                <li><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                <!-- entries with drop-downs appear here -->
                <!-- conditional logic to control which topnav appears for the audience defined in the topnav.yml file.-->
                {% for entry in topnav_dropdowns %}
                {% for section in entry.sections %}
                <!-- <li id="version" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ section.title }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for sectionitem in section.sectionitems %}
                        {% if sectionitem.external_url %}
                          <li><a href="{{sectionitem.external_url}}" target="_blank">{{sectionitem.title}}</a></li>
                        {% elsif page.url contains sectionitem.url %}
                          <li class="dropdownActive"><a href="{{sectionitem.url}}">{{sectionitem.title}}</a></li>
                        {% else %}
                          <li><a href="{{sectionitem.url}}">{{sectionitem.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li> -->
                {% endfor %}
                {% endfor %}

                {% if site.feedback_disable == null or site.feedback_disable == false %}
            			{% include feedback.html %}
            		{% endif %}
                <!--comment out this block if you want to hide search-->
                <li>
                    <!--start search-->
                    <!-- <div id="search"> -->
                        <!-- <form style="margin-top: 15px;" action="{{ "/search.html" | prepend: site.baseurl }}" method="GET">
                          <input class="input" name="q" placeholder="Search...">
                        </form> -->
                        <input id="searchBox" style="margin-top: 5px;" type="text" placeholder="Search..." />
                        <!-- <input type="text" id="search-input" place/holder="{{site.data.strings.search_placeholder_text}}"> -->
                        <!-- <ul id="results-container"></ul> -->
                    <!-- </div> -->

                    <!--end search-->
                </li>
            </ul>
        </div>
        </div>
        <!-- /.container -->
</nav>
