The language the ThoughtSpot UX is displayed is based off of your browser
locale. You can change the UX displayed language on all browsers that
ThoughtSpot supports.

In addition to American English, ThoughtSpot supports German and Japanese
language display. So if you set Japanese as your default language in your
browser settings, then the interface will update to reflect that after you
refresh your page.

Keywords, operators, and error messages are included in the translated material.
Formulas, however, are **not translated*. Also, all metadata remains as user
inputted.

To set your ThoughtSpot locale:

1. Go to the settings page of your browser.
2. Change your default language to one that is supported by ThoughtSpot.
3. Save your settings.
4. Refresh your ThoughtSpot browser page.

Your ThoughtSpot interface should reflect your new chosen language.
