---
type: frontmatter
search: exclude
permalink: /tocpage/
---

<!-- new page -->
<div id="navig">
    <h1>Table of Contents</h1>

      {% assign sidebar = site.pdf_sidebar %}

    <ul id="mysidebar" class="nav">
        {% for entry in sidebar_pdf %}
        {% for section in entry.sections %}
        {% if section.output contains "pdf" and section.type != "frontmatter" %}
        <li class="sectionHead">{{ section.title }}
            <ul>
                {% for sectionitem in section.sectionitems %}
                {% if sectionitem.output contains "pdf" and sectionitem.type != "frontmatter"%}
                <li><a href="{{sectionitem.url | prepend: site.baseurl}}">{{sectionitem.title}}</a>
                    {% for levelTwos in sectionitem.levelTwos %}
                    {% if levelTwos.output contains "pdf" and levelTwos.type != "frontmatter" %}
                <li class="sectionHead">{{ levelTwos.title }}
                    <ul>
                        {% for levelTwoitem in levelTwos.levelTwoitems%}
                        {% if levelTwoitem.output contains "pdf" and levelTwoitem.type != "frontmatter"%}
                        <li><a href="{{levelTwoitem.url | prepend: site.baseurl}}">{{levelTwoitem.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
</div>
