<table>
   <colgroup>
      <col style="width:20%" />
      <col style="width:40%" />
      <col style="width:40%" />
   </colgroup>
   <tbody>
     <tr>
        <th>GeoType</th>
        <th>Description</th>
        <th>Type: Example</th>
     </tr>
      <tr>
         <td><code>COUNTRY_REGION</code></td>
         <td>Countries</td>
         <td>
            <ul>
               <li>name: United States</li>
               <li>long name: United States </li>
               <li>name_sort: United States of America</li>
               <li>abbreviation: U.S.A.</li>
               <li>adm0_a3: USA</li>
               <li>adm0_a3_is: USA</li>
               <li>adm0_a3_us: USA</li>
               <li>admin: United States of America</li>
               <li>brk_a3: USA</li>
               <li>brk_name: United States</li>
               <li>formal_en: United States of America</li>
               <li>iso_a2: US</li>
               <li>iso_a3: USA</li>
               <li>iso_n3: 840</li>
            </ul>
         </td>
      </tr>
      <tr>
         <td><code>COUNTY</code></td>
         <td>Counties in the United States</td>
         <td>
            <ul class="ul">
               <li>santa clara county</li>
               <li>pike county, ohio</li>
               <li>pike county, OH</li>
            </ul>
         </td>
      </tr>
      <tr>
         <td><code>STATE_PROVINCE</code></td>
         <td>States in the United States</td>
         <td>
            <ul>
               <li>name: California</li>
               <li>US Postal Service abbreviation: CA</li>
            </ul>
         </td>
      </tr>
      <tr>
         <td><code>LATITUDE</code></td>
         <td>Must be used with <code>LONGITUDE</code></td>
         <td>
            <ul>
               <li>37.421023</li>
               <li>1.282911</li>
            </ul>
         </td>
      </tr>
      <tr>
         <td><code>LONGITUDE</code></td>
         <td>Must be used with <code>LATITUDE</code></td>
         <td>
            <ul>
               <li>−122.142103</li>
               <li>103.848865</li>
            </ul>
         </td>
      </tr>
      <tr>
         <td><code>ZIP_CODE</code></td>
         <td>Zip codes in the United States</td>
         <td>
            <ul>
               <li>po_name: MT MEADOWS AREA </li>
               <li>ZIP: "00012" </li>
               <li>zip2: 12</li>
            </ul>
         </td>
      </tr>
      <tr>
         <td>Other Sub-nation Regions</td>
         <td>Administrative regions found in countries other than the United
            States
         </td>
         <td>
            <ul class="ul">
               <li>bremen</li>
               <li>normandy</li>
               <li>west midlands</li>
            </ul>
         </td>
      </tr>
   </tbody>
</table>
