<p>To set up and explore your data, access the ThoughtSpot application from a standard Web browser using a username and password. Before accessing ThoughtSpot, you need:</p>

<ul>
  <li>The Web address (IP address or server name) for ThoughtSpot.</li>
  <li>A network connection.</li>
  <li>A Web browser.</li>
  <li>
    <p>A username and password for ThoughtSpot.</p></li>
</ul>

<h2 id="supported-web-browsers">Supported Web browsers </h2>

<p>The following browsers are verified to work well with the ThoughtSpot application:</p>

<table>
  <thead>
    <tr>
      <th>Browser</th>
      <th>Version</th>
      <th>Operating System</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Google Chrome</td>
      <td>20 and above</td>
      <td>Windows 7 or greater, Linux, MacOS</td>
    </tr>
    <tr>
      <td>Mozilla Firefox</td>
      <td>14 and above</td>
      <td>Windows 7 or greater, Linux, MacOS</td>
    </tr>
    <tr>
      <td>Internet Explorer</td>
      <td>11</td>
      <td>Windows 7 or greater</td>
    </tr>
  </tbody>
</table>

<h2 id="log-in-to-the-thoughtspot-application">Log in </h2>

<p>To log in to ThoughtSpot from a browser:</p>

<ol>
  <li>Open the browser and type in the Web address for ThoughtSpot: <code class="highlighter-rouge">http://&lt;hostname_or_IP&gt;</code></li>
  <li>Enter your username and password and click <strong>Enter Now</strong>.
    <p><img style="width:100px;" src="/pages/images/logo.png" alt="Company logo"/></p>
  </li>

</ol>

<h2 id="log-out-of-the-thoughtspot-application">Log out </h2>

<p>Once you're done with your search session, you can optionally log out of
ThoughtSpot. To log out of ThoughtSpot from a browser:</p>
<ol>
  <li>Click your user icon at the top right hand corner of the screen.</li>
  <li>Click Sign out.</li>
  <p><img src="/pages/images/log_out.png" alt="log_out"/></p>
</ol>
