<table>
  <colgroup>
  <col width="25%" />
  <col width="50%" />
  </colgroup>
  <thead>
    <tr>
      <th>Privilege</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Has administration privileges</strong></td>
      <td>Can manage Users and Groups and has view and edit access to all data. </td>
    </tr>
    <tr>
      <td><strong>Can upload user data</strong></td>
      <td>Can upload their own data from the application's <strong>DATA</strong> page using <strong>Actions > Upload data</strong>.</td>
    </tr>
    <tr>
      <td><strong>Can download data</strong></td>
      <td>Can download data from search results and pinboards.</td>
    </tr>
    <tr>
      <td><strong>Can share with all users</strong></td>
      <td>Can see the names of and share with users outside of the groups the user belongs to.</td>
    </tr>
    <tr>
      <td><strong>Can manage data</strong></td>
      <td>Can create a worksheet. Can also create an aggregated worksheet from the results of a search by selecting <strong>Save as worksheet</strong>. Can also use ThoughtSpot Data Connect, if it is enabled on your cluster.</td>
    </tr>
    <tr>
      <td><strong>Can schedule pinboards</strong></td>
      <td>Can create pinboard schedules and edit their own scheduled jobs.</td>
    </tr>
    <tr>
      <td><strong>Can auto analyse</strong></td>
      <td>User can use SpotIQ's auto analyse function.</td>
    </tr>
    <tr>
      <td><strong>Can Administer RLS</strong></td>
      <td>Users in groups with this privilege (directly or indirectly) can bypass row-level security (RLS) rules. This privilege can only be assigned by a user who already <p>Has administration privilege</b>. Your installation configuration may enable or disable this feature.</td>
    </tr>
  </tbody>
</table>
