<p>The language displayed in ThoughtSpot is based off of your browser locale. In addition to American English, ThoughtSpot also supports German and Japanese. So if you set Japanese as your default language in your browser settings, then the interface will update to reflect that after you refresh your page.</p>

<p>Keywords, operators, and error messages are included in the translated material. Formulas, however, are not translated. Also, all metadata will remain as user inputted.</p>

<p>This feature is supported on all browsers that support ThoughtSpot.</p>

<p>To set your ThoughtSpot locale:</p>

<ol>
  <li>Go to the settings page of your browser.</li>
  <li>Change your default language to one that is supported by ThoughtSpot.</li>
  <li>Save your settings.</li>
  <li>Refresh your ThoughtSpot browser page.</li>
</ol>

<p>Your ThoughtSpot interface should reflect your new chosen language.</p>
