<p>You can create tags to make it easier for people to find data sources and pinboards. Tags are global in scope. This means that everyone can see the tags and use them to tag objects. They can also filter lists of objects by tag. Tags are often used to designate subject areas, such as sales, HR, and finance, but you can use them any way you like.</p>

<p>Keep in mind these permissions when working with tags:</p>

<ul>
 <li>Only administrators can create tags.</li>
 <li>Anyone can apply a tag.</li>
 <li>Anyone can filter by a tag.</li>
 <li>You can only filter by one tag at a time from the UI.</li>
</ul>

<h2 id="create-a-tag">Create a tag</h2>

<p>Only administrator users can create tags. Anyone can apply the tags you create, or use them as filters when selecting from a list of sources or pinboards.</p>

<p>To create a tag:</p>

<ol>
 <li>Navigate to the <strong>Manage Data</strong> or <strong>Pinboards</strong> screen using the icons in the top navigation bar.</li>
 <li>
   <p>Choose the currently selected tag, scroll to the bottom of the list, and click <strong>+ Add</strong>.</p>

   <p><img src="{{"/images/add_tag.png" | prepend: site.baseurl }}" alt="" title="Add a tag" /></p>
 </li>
 <li>Type the name for the new tag.</li>
 <li>
   <p>You can change the name of a tag by clicking the edit icon next to its name.</p>

   <p><img src="{{"/images/edit_tag.png" | prepend: site.baseurl }}" alt="" title="Edit a tag" /></p>
 </li>
 <li>
   <p>You can change the color of a tag by clicking the color circle next to its name.</p>

   <p><img src="{{"/images/edit_color.png" | prepend: site.baseurl }}" alt="" title="Edit a tag color" /></p>
 </li>
</ol>

<h2 id="apply-a-tag">Apply a tag</h2>

<p>Only administrators create tags, but anyone with edit privileges can tag an object with a tag.</p>

<p>To tag an object with a tag:</p>

<ol>
 <li>
   <p>From the top menu, choose Answers, Pinboards, or Data.</p>
 </li>
 <li>Find the item(s) you want to tag in the list, and check the box next to its name.</li>
 <li>
   <p>Click the apply tag icon and choose one from the list. You can apply as many tags as you like to an object.</p>

   <p><img src="{{"/images/apply_tag.png" | prepend: site.baseurl }}" alt="" title="Choose a tag to apply" /></p>
 </li>
</ol>

<h2 id="filter-by-tags">Filter by tags</h2>

<p>Whenever you are selecting objects from a list, you can filter by tag to find what you’re looking for. Anyone can use tags to filter lists of Liveboards or data sources. You can also filter by a tag when selecting data sources.</p>

<p>Note that you can only filter by one tag at a time in the UI. To get a list of ThoughtSpot objects or object headers that is filtered by multiple tag, use the <a href="https://developers.thoughtspot.com/docs/?pageid=metadata-api" target="_blank">Metadata API</a>. The <code>list</code> and <code>listobjectheaders</code> endpoints allow you to filter by multiple tags.</p>


<p>To filter by tag:</p>

<ol>
 <li>
   <p>From the top menu, choose <strong>Answers</strong>, <strong>Pinboards</strong>, or <strong>Data</strong>.</p>
 </li>
 <li>
   <p>Click <strong>Select tag</strong>, and select the name of the tag you want to filter by.</p>

   <p><img src="{{"/images/filter_by_tag.png" | prepend: site.baseurl }}" alt="" title="Filter by a tag" /></p>
 </li>
</ol>

<h3 id="unfilter-tags">Remove a tag filter</h3>
<p>To remove a tag filter and see all objects again, select the tag you filtered on in the tag list.</p>
