.summary {
    color: #4E55FD;
    border-left: 5px solid #272A7F;
    font-size:16px;
}


h3 {color: #4C4C4C; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #4E55FD;
    color: white;
}

.nav > li.active > a {
    background-color: #272A7F;
}

.nav > li > a:hover {
    background-color: #272A7F;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #272A7F;
    color: #ffffff;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #272A7F;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #06BF7F;
    font-style: italic;
    font-weight: bold;
    cursor: default;
}

.navbar-inverse {
    background-color: #4E55FD;
    border-color: #272A7F;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f0f0f0;
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #373BB1;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #373BB1;
    color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #373BB1 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #272A7F;
    border-color: #373BB1;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #373BB1;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #272A7F;
    border-color: #272A7F;
}

.printTitle {
    color: #รง !important;
}

body.print h1 {color: #272A7F !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #595959 !important; font-size:14px !important;}
body.print h4 {color: #595959 !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #85DCDF;
}

div.bookTitle {
    color: #272A7F;
}

li.bookTitle {
    margin-top:20px;
      font-weight:normal;
      font-size:130%;
      color: #000000;
      margin-bottom:2px;
      margin-top: 5px;
      margin-left: 7px;
      text-align: left;
      padding-left: 5px;

  }

li.bookSubtitle {
  margin-top:20px;
    font-weight:normal;
    font-size:120%;
    color: #4E55FD;
    margin-bottom:10px;
    margin-top: 0px;
    margin-left: 7px;
    text-align: left;
    padding-left: 5px;
    font-weight: bold;


}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #4E55FD;
}

.navbar-inverse .navbar-toggle {
    border-color: #272A7F;
}
