# .github/workflows/main.yml

name: Trigger Netlify Build
on:
  schedule:
    # Run at 6:00 PM M-F
    - cron: '0 1 * * 1,2,3,4,5,6'
jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: curl -X POST -d {} https://api.netlify.com/build_hooks/5f07b078259639ee6e23391a

